#root {
  max-width: 1280px;
}

html
{
  font-size:62.5%;
}

*
{
  margin: 0;
}

.App
{
  font-size: 3rem;
  text-align: center;
  width: 90rem;
  position: absolute;
  left: 24rem;
  border: 2px solid black;
  background-color: black;
  border-radius: 12px;
}

.App h1
{
  font-size: 9rem;
  color:aqua ;
  margin-bottom: 5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App .input
{
 
  font-size: 5.5rem;
  height: 5rem;
  margin-bottom: 4.6rem;
}

.App .button
{
  font-size: 4.8rem;
  height: 5.4rem;
  text-align: center;
  width: 12rem;
  cursor:pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 3.6rem;
}

.div-2
{
  font-size: 3rem;
  background-color: rgb(255, 255, 255);
  width: 83rem;
  margin-top: 20px;  
  color: black;
  font-family:cursive ;
}

.div-2 li
{
  text-align: start;
  cursor: pointer;
}

.div-2 li span
{
  position: absolute;
  right: 39px;
  cursor: pointer;
}



.div-2 .completetodo
{
  background-color: rgb(190, 241, 6) !important;
  text-decoration: line-through;
} 


@media screen and (max-width:430px) {
  
html
{
  font-size:23.5%;
}


.App
{
  font-size: 3rem;
  width: 95rem;
  position: absolute;
  left: 0rem;
}


.App h1
{
  font-size: 16rem;
  margin-bottom: 5rem;
}

.App .input
{
  font-size: 5.5rem;
  height: 10rem;
  margin-bottom: 7.6rem;
}

.App .button
{
  font-size: 4.8rem;
  height: 11.7rem;
  width: 14rem;
  margin-bottom: 3.6rem;
}

.div-2
{
  font-size: 7rem;
  width: 83rem;
  margin-top: 20px;  
  margin-left: -16px;
}

.div-2 li
{
  text-align: start;
}

.div-2 li span
{
  position: absolute;
  right: 28px;
}

}



@media screen and (max-width:387px) {
  
  html
  {
    font-size:23.5%;
  }
  
  .App
  {
    font-size: 3rem;
    width: 92rem;
    position: absolute;
    left: 0rem;
  }
  
  
  .App h1
  {
    font-size: 16rem;
    margin-bottom: 5rem;
  }
  
  .App .input
  {
    font-size: 5.5rem;
    height: 10rem;
    margin-bottom: 7.6rem;
  }
  
  .App .button
  {
    font-size: 4.8rem;
    height: 11.8rem;
    width: 14rem;
    margin-bottom: 3.6rem;
  }
  
  .div-2
  {
    font-size: 7rem;
    width: 83rem;
    margin-top: 20px;  
    margin-left: -16px;
  }
  
  .div-2 li
  {
    text-align: start;  
  }
  
  .div-2 li span
  {
    position: absolute;
    right: 28px;
  }
  
  }
  
